@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.group1{
    background-color: #A7C18E;
    color: #23281D;
    padding: 20px;
}

.group2{
    color: #A7C18E;
    padding: 20px;
}

.card{

    background-color: #d8dcbc;
    border-radius: 20px;
    font-family: 'Nexa Bold';
}

@media screen and (max-width: 768px){
    .herocontainer{
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
    }

    .whoweare{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .whoweare img {
        height: 300px;

    }

    .card{
        width: 100%;
        
    }
}
